<form action="projects/new" method="post">
    <label>Name</label>
    <input type=text name="name">
    <label>Url</label>
    <input type=text name="url">
    <label>Description</label>
    <input type=text name="description">
    <label>ImageSource</label>
    <input type=text name="imageSource">
    <label>Technologies</label>
    <input type=text name="technologies">
    <label>Github</label>
    <input type=text name="github">
</form>